// src/styles/_global.helpers.scss


@use './_base.variables.scss' as *;
@use './_base.mixins.scss' as *;

// Flex helpers
.row-center {
    @include displayFlex(row wrap, center, center);
}
.row-start {
    @include displayFlex(row wrap, flex-start, flex-start);
}
.row-end {
    @include displayFlex(row wrap, flex-end, flex-end);
}
.column-center {
    @include displayFlex(column wrap, center, center);
}
.column-start {
    @include displayFlex(column wrap, flex-start, flex-start);
}
.column-end {
    @include displayFlex(column wrap, flex-end, flex-end);
}

.text-container {
    @include displayFlex(column nowrap, flex-start, flex-start);
    gap: 30px;
}

// Background style helpers
// Section with overflow background
.section.section-overflow-background {
    .background-base-200 {
        display: block;
        position: absolute;
        left: -10rem;
        background-color: $COLORS-base-200;
        opacity: 0.4;
        width: 200%;
        height: calc(100% + 6rem);
        border-radius: 2rem;
        z-index: 1;
    }
    .background-red-200 {
        display: block;
        position: absolute;
        left: -10rem;
        background-color: $COLORS-red-900;
        opacity: 1;
        width: 200%;
        height: 100%;
        border-radius: 2rem;
        z-index: 1;
    }
}